@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

/* eric/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    margin: 0;
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* eric/css/reset/end */


/* __________________________________________________________________________________ */
/* 共用區設定 */
body {
    background: url(./img/background-img.svg) no-repeat center center fixed;
    background-size: cover;
}

main {
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: var(--text);
}


/* ________________________________________ */
/* 文字設定 */
.Big-Text-Family {
    font-family: 'Noto Serif TC';
    color: var(--text-title);
    font-size: 32.5px;
    font-weight: bold;
    line-height: 1.4;
    text-shadow: 3px 3px var(--white-rgba7);
}

.Big-Text-NoFamily {
    font-family: Arial;
    font-size: 50px;
    color: var(--white);
    font-weight: bold;
    letter-spacing: 1rem;
    text-shadow: 3px 3px var(--shadow-blue);
}

.text-18w-Family {
    font-family: 'Noto Serif TC';
    color: var(--white);
    font-size: 18px;
}

.text-18wb-Family {
    font-family: 'Noto Serif TC';
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
}

.text-18-Family {
    font-family: 'Noto Serif TC';
    font-size: 18px;
    font-weight: bold;
}

.text-16wf-Family {
    font-family: Arial;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}

.text-16-Family {
    font-family: Arial;
    /* color: white; */
    font-size: 16px;
    font-weight: bold;
}

.text-12wf-Family {
    font-family: Arial;
    /* color: white; */
    font-size: 12px;
    font-weight: lighter;
}

.text-206b-Family {
    font-family: 'Noto Serif TC';
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
}

.text-20wb-Family {
    font-family: 'Noto Serif TC';
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

.text-20A-Family {
    font-family: Arial;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

.text-24wb-Family {
    font-family: 'Noto Serif TC';
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: .3rem;
}

.text-32bb-Family {
    font-family: 'Noto Serif TC';
    color: var(--text-smalltitle);
    font-size: 32px;
    font-weight: bold;
}

.event-title-30pb-Family {
    font-family: 'Noto Serif TC';
    /* color: var(--text-title); */
    font-size: 28px;
    font-weight: bold;
}

/* 顏色設定 */
:root {
    /* 主色調 */
    --white: #fff;
    --white-rgba7: rgba(255, 255, 255, 0.7);
    --blue: #284C77;
    --bluePinck: linear-gradient(to left bottom, #C27FCF 20%, #0368FF 100%);
    --btn_hover: linear-gradient(to right, #a95ac9, #e66089);
    /* 文字顏色 */
    --text: #666;
    --text-smalltitle: #9ef8fd;
    --text-title: #6b6bdb;
    /* 區塊色 */
    --section_background: rgba(97, 164, 212, 0.5);
    --Light-Steel-list: linear-gradient(to bottom, rgba(59, 124, 189, 0.8), rgb(106, 169, 223, 0.8));

    /* 陰影box-shadow */
    /* btn 按鈕 */
    --shadow-black: rgba(0, 0, 0, 0.3);
    /* title 文字 */
    --shadow-blue: rgba(40, 76, 119, 0.8);
}

/* __________________________________________________________________________________ */
/* __________hearder選單(開始)____________ */
header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--Light-Steel-list);
    padding: 10px 20px;
    box-shadow: 1px 1px 1px var(--shadow-blue);
    border-radius: 0 0 20px 20px;
    margin: 0 50px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s;
    border-radius: 99px;
}

.nav-links a:hover {
    background-color: var(--white-rgba7);
    color: var(--blue);
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.btn-primary {
    background: var(--bluePinck);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: var(--white);
}

.btn-primary {
    color: var(--white);
    text-decoration: none;
}

.btn-primary:hover {
    background: var(--btn_hover);
}

.nav-icon img {
    width: 32px;
    height: 32px;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 99px;
    transition: background-color 0.3s;
}

.nav-icon:hover {
    background-color: var(--white-rgba7);
}

.subscribed {
    /* 按鈕的訂閱後樣式 */
    background: green;
}

/* __________hearder選單(結束)____________ */

/* __________________________________________________________________________________ */

/* __________index首頁(開始)____________ */

/* __________封面頁(開始)____________ */
section {
    height: 100vh;
}

.hero-section {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    padding: 50px;
}


.hero-section .hero-text {
    background: var(--section_background);
    padding: 20px;
    border-radius: 20px;
    width: 23.3%;
    position: absolute;
    left: 120px;
    top: 155px;
}

.hero-section .hero-text h1 {
    width: 80%;
    bottom: 0;
}

.hero-section .hero-text h1 .left {
    position: absolute;
    left: 3rem;
}

.hero-section .hero-text h1 .right {
    position: absolute;
    right: 3rem;
}

.hero-section .hero-text p {
    margin: 6rem auto 3rem auto;
    width: 80%;
    letter-spacing: .2rem;
    line-height: 1.5;
}

.hero-section .hero-text .hero-button {
    background: var(--bluePinck);
    color: var(--white);
    border: none;
    padding: 20px;
    margin: 0 10%;
    margin-bottom: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.hero-section .hero-text .hero-button:hover {
    background: var(--btn_hover);
}

.hero-image .bigfish {
    position: absolute;
    width: 80%;
    height: auto;
    border-radius: 20px;
    top: 28%;
    right: -25rem;
    animation: bigfishAnimation-in 2.5s .8s, bigfishAnimation 10s 3s infinite;
    /* animation: bigfishAnimation 10s infinite; */
    transform-origin: right;
    opacity: 0;
}

.hero-image .right-bg {
    position: absolute;
    top: 0;
    right: -30%;
    height: 110%;
    z-index: -5;

}

.hero-image .left-bg {
    position: absolute;
    left: -35rem;
    top: 35%;
    z-index: -1;
}

.hero-image .fish {
    position: absolute;
    bottom: -32%;
    animation: fishAnimation 6s 1.5s infinite;
    right: -25%;
    z-index: -5;
}



/* 游動動畫-金魚bigfish */
@keyframes bigfishAnimation-in {
    0% {
        transform: translate(150px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(50px, 30px);
        opacity: 1;
    }
}

@keyframes bigfishAnimation {
    0% {
        transform: translate(50px, 30px);
        opacity: 1;
    }

    25% {
        transform: translate(50px, -30px) rotate(6deg);
        opacity: 1;
    }

    50% {
        transform: translate(50px, 30px);
        opacity: 1;

    }

    75% {
        transform: translate(50px, -30px) rotate(2deg);
        opacity: 1;
    }

    100% {
        transform: translate(50px, 30px);
        opacity: 1;
    }
}

@keyframes fishAnimation {
    0% {
        transform: translate(20%, 0px);
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        transform: translate(-500%, -500%);
    }
}

/* __________封面頁(結束)____________ */
/* __________________________________________________________________________________ */
/* __________宣言頁面(開始)___________ */
#declaration {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(./img/picture.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#declaration .aurora-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.3), rgba(255, 0, 255, 0.3));
    background-size: 600% 600%;
    /* animation: aurora 60s ease-in-out infinite, wave 60s ease-in-out infinite alternate; */
    mix-blend-mode: overlay;
    pointer-events: none;
}

.aurora-waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.1), transparent 10%);
    background-size: 600% 600%;
    animation: waves 60s linear infinite;
    mix-blend-mode: overlay;
    pointer-events: none;
}

@keyframes aurora {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes wave {
    0% {
        transform: translateX(-20px) translateY(-10px);
    }

    100% {
        transform: translateX(20px) translateY(10px);
    }
}

@keyframes waves {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}


#declaration h1 {
    z-index: 2;
}

#declaration p {
    color: var(--white);
    font-size: 24px;
    margin: 10rem auto;
    width: 80%;
    letter-spacing: .5rem;
    line-height: 1.5;
    font-weight: bold;
}

/* __________宣言頁面(結束)___________ */
/* index共用標題(開始) */
section .titleLine {
    display: flex;
    justify-content: center;
    position: relative;
    background: url(./img/footer/Bubbles.svg) no-repeat center top;
    background-size: 15%;
    width: 100%;
    height: 200px;
    margin-top: 60px;
}

section .titleLine .title {
    text-align: center;
    margin: 30px auto;
}

section .titleLine .title p {
    color: var(--text-title);
    text-shadow: none;
}

section .titleLine .title::before {
    content: '';
    position: absolute;
    width: 35%;
    height: 2px;
    background: var(--text-title);
    transform: translateY(-50%);
    left: 2.5%;
    top: 45%;
}

section .titleLine .title::after {
    content: '';
    position: absolute;
    width: 35%;
    height: 2px;
    background: var(--text-title);
    transform: translateY(-50%);
    right: 2.5%;
    top: 45%;
}

/* index共用標題(結束) */

/* __________相關資訊(開始)___________ */
#information .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#information .tabs .tab {
    font-size: 20px;
    color: var(--text);

    font-family: 'Noto Serif TC';
    padding: 20px 40px;
    border: none;
    background: var(--white-rgba7);
    border-radius: 25px;
    margin: 0 10px;
    cursor: pointer;
}

#information .tabs .tab:hover {
    background: var(--blue);
    color: var(--white);
}

#information .content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

#information .content .left-text {
    width: 30%;
    /* padding: 0 80px; */
    margin: 0 80px;
}

#information .content .left-text h4 {
    margin: 30px 0;
}

#information .content .left-text p {
    font-size: 16px;
    color: var(--white);
    margin: 0 0 20px;
    width: 60%;
}

#information .content .left-text .read-more {
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px 30px;
    background: var(--bluePinck);
    color: var(--white);
    border: none;
    cursor: pointer;
    float: left;
}

#information .content .left-text .read-more:hover {
    background: var(--btn_hover);
}

#information .content .image-carousel {
    position: relative;
    width: 40%;
    height: 40vh;
    width: 55vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

#information .content .image-container img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

#information .content .image-container .carousel-container {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

#information .content .carousel-button-left,
#information .content .carousel-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background: none;
    z-index: 5;
}

.carousel-button-left {
    left: 0%;
}

.carousel-button-right {
    right: 0%;
}

/* __________相關資訊(結束)___________ */

/* __________海洋汙染(開始)___________ */
/* 卡片样式 */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background: rgba(180, 198, 225, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 20%;
    position: relative;
    padding-bottom: 10px;
}

.card::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(139, 173, 225);
    border: 1px solid white;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.card-image img {
    width: 85%;
    margin: 25px auto 0 auto;
    border-radius: 10px;
}

.card-title {
    color: #6a4bad;
}

.card-description {
    padding: 0 20px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5;
}

.card-button {
    background: var(--bluePinck);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
    animation: all 0.4s;
}

.card-button:hover {
    background: linear-gradient(90deg, #66ccff, #d16ee0);
}

/* 燈箱樣式 */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35);
}

.lightbox-content {
    position: relative;
    margin: 8% auto;
    padding: 30px;
    width: 80%;
    height: 70%;
    max-height: 600px;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.65);
    color: var(--white);
    box-shadow: var(--text-title);
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(194, 127, 207, 0.6) 10px 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 15px;
    cursor: pointer;
}

.lightbox-image {
    width: 45%;
    float: left;
    height: auto;
    margin-right: 20px;
    border-radius: 15px;
    border-radius: 15px;
}


#lightbox .lightbox-content .lightbox-text {
    margin: 10px;
}

#lightbox .lightbox-content .lightbox-text .lightbox-title {
    color: var(--text-title);
    font-size: 30px;
    margin: 20px 0;
}

#lightbox .lightbox-content .lightbox-text .lightbox-description {
    text-align: left;
    line-height: 1.5;
    letter-spacing: .15rem;
}

/* __________海洋汙染(結束)___________ */

/* __________近期活動(開始)___________ */
#activities {
    padding: 50px;
}

.titleLine {
    text-align: center;
    margin-bottom: 30px;
}

.dateBox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 15px;
}

.calendar {
    width: 25%;
    height: 400px;
    padding: 20px 40px;
    border-radius: 10px;
    background: var(--white-rgba7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header span {
    font-size: 20px;
}

.calendar-header .nav-buttons {
    display: flex;
}

.calendar-header .nav-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
    width: 10%;
    padding: 15px;
    text-align: center;
}

.calendar-table th {
    background: #f5f5f5;

}

.calendar-table td {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 99px;
}

.calendar-table td:hover {
    border: 1px solid var(--text-smalltitle);
}

.events {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event {
    padding: 15px;
    background: var(--white-rgba7);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: all .4s;
}

.event.hidden {
    opacity: 0;
}

.event:hover {
    background: var(--Light-Steel-list);
    color: var(--white);
}

.event .eventAct,
.event .eventTime {
    display: flex;
    flex-flow: column;
}

.event .eventTime {
    font-size: 12px;
}

.event h3 {
    margin-bottom: 15px;
}

.event p {
    margin-bottom: 5px;
}

.event span {
    padding: 5px 0;
}


.more-activities {
    text-align: center;
    margin-top: 20px;
}

.more-activities button {
    padding: 10px 20px;
    background: var(--bluePinck);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.more-activities button:hover {
    background: var(--btn_hover);
}

/* __________近期活動(結束)___________ */

/* __________環保團體(開始)___________ */
#groups .team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

#groups .jellyfish {
    position: absolute;
    top: 30px;
    right: 15%;
    width: 130px;
    animation: jellyfishAnimation 6s infinite;
    z-index: 2;
}

#groups .fish {
    position: absolute;
    bottom: -800px;
    right: -450px;
    animation: fishAnimation 6s 1.5s infinite;
    z-index: -1;
}

@keyframes jellyfishAnimation {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(10px);
    }
}

.Big-Text-Family {
    font-size: 36px;
    margin: 0;
}

.text-20wb-Family {
    font-size: 20px;
    margin: 0;
}

.titleLine {
    display: flex;
    justify-content: center;
    position: relative;
    background: url('./img/footer/Bubbles.svg') no-repeat center top;
    background-size: 15%;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.titleLine .title {
    text-align: center;
    margin: 30px auto;
}

.titleLine .title::before,
.titleLine .title::after {
    content: '';
    position: absolute;
    width: 35%;
    height: 2px;
    background: #fff;
    transform: translateY(-50%);
    top: 50%;
}

.titleLine .title::before {
    left: 0;
}

.titleLine .title::after {
    right: 0;
}

.groupsBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 10%;
    position: relative;
    overflow: hidden;
}

.groupsBox .groupsBox-right {
    position: absolute;
    width: 40%;
    right: 20%;
    top: -50%;
    z-index: -1;
    opacity: .8;
}

.groupsBox .groupsBox-left {
    position: absolute;
    width: 40%;
    left: -50%;
    top: -30%;
    z-index: -1;
    opacity: .8;
}

.group-item {
    width: 100%;
    background: var(--white-rgba7);
    box-shadow: 3px 3px var(--shadow-black);
    border-radius: 99px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    letter-spacing: .3rem;
    transition: all .4s;
}

.group-item:hover {
    color: var(--white);
    background-color: var(--btn_hover);
}

.btn-more {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background: var(--bluePinck);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn-more:hover {
    background: var(--btn_hover);
}

.groupsBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('./img/coral.svg') no-repeat left bottom;
    background-size: cover;
    z-index: -1;
}

.groupsBox::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url('./img/underwater.svg') no-repeat right bottom;
    background-size: cover;
    z-index: -1;
}

/* __________環保團體(結束)___________ */

/* __________index首頁(結束)____________ */
/* __________________________________________________________________________________ */

/* Donate捐款頁面-第一頁:選擇 */
/* 背景 */
#donate {
    position: relative;
    overflow: hidden;
}

#donate .right-bg {
    position: absolute;
    left: -35%;
    bottom: -130%;
    width: 100%;
}

#donate .donate-box {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/* 左手邊 */
.title-L {
    display: flex;
    flex-flow: column;
    margin: 200px 50px;
    line-height: 1.5;
}

.title-L .header {
    text-align: center;
    margin-bottom: 80px;
}

.title-L .header-text {
    font-size: 24px;
    line-height: 1.5;
    color: var(--white);
}

/* 右手邊 */
.container {
    background: var(--section_background);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    margin: 100px 50px;
    width: 100%;
    max-height: 750px;
    text-align: center;
    overflow: hidden;
}

/* 捐款方式 */
.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-group button {
    align-items: center;
    padding: 20px;
    margin: 0 10px 0 0;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 100%;
    background: var(--white-rgba7);
    box-shadow: 3px 3px var(--shadow-black);
    border: 3px solid transparent;
    transition: all 0.4s;
}

.radio-group button:hover {
    background: var(--blue);
    color: var(--white);
    box-shadow: none;
    border: 3px solid transparent;
}

.radio-group button.clicked {
    background: var(--btn_hover);
    color: var(--white);
    box-shadow: inset 3px 3px var(--shadow-black);
    border: 3px solid var(--shadow-black);
    transition: none;
}


.container .subheader {
    margin-bottom: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group .box {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.form-group .box button {
    background: linear-gradient(rgba(255, 255, 255, 0.65)0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.65) 100%);
    padding: 15px;
    border-radius: 99px;
    cursor: pointer;
    border: none;
    width: 100%;
    box-shadow: 3px 3px var(--shadow-black);
    color: var(--text);
    transition: all 0.4s;
    margin: 10px 0;

}

.form-group .box button:hover {
    background: var(--blue);
    color: var(--white);
    box-shadow: none;
}

.form-group .box button .text-SB {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 25px;

}

.form-group .box button .text-SB .S {
    display: flex;
    align-items: center;
}

.form-group .box button .text-SB .S small {
    font-size: 14px;
    font-weight: bold;
}

.form-group .box button .text-SB .S h2 {
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.form-group .box button .text-SB .B {
    font-size: 18px;
    font-weight: bold;
}


/* 捐款金額 */
#select-money .select,
#select-money .form-group-2 {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#select-money .form-group-2 input[type="text"],
#select-money .select select {
    margin-right: 5px;
    border: none;
    border-radius: 99px;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
    padding: 10px 20px;
    letter-spacing: .5rem;
    border: 2px solid transparent;

}

/* 細部設定 */
#select-money .form-group-2 input[type="text"]:focus,
#select-money .select select:focus {
    border: 2px solid var(--shadow-blue);
    outline: none;
}

/* 幣別選擇:下拉選單 */
#select-money .select select {
    appearance: none;
    /* 移除預設 */
    padding-right: 40px;
    background-image: url(./img/Donate/optgroup-arrow.svg);
    background-size: 20%;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

/* 下一步按鈕 */
#select-money .btn-next {
    float: right;
    margin: 30px 0 0 0;
    padding: 15px 30px;
    background: var(--bluePinck);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#select-money .btn-next:hover {
    background: var(--btn_hover);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('background-image.jpg') no-repeat center center/cover;
    opacity: 0.2;
}


.container form #newFormContent {
    display: none;
}

#newFormContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

/* __________________________________________________________________________________ */
/* footer頁尾 */
footer {
    background-color: var(--white);
    background: linear-gradient(hsla(349, 57%, 52%, 0.35) 0%, rgba(170, 54, 75, 0.8) 45%, #65202D 100%);
    width: 100%;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

footer .left-pp {
    position: absolute;
    left: -100px;
    bottom: -100px;
    animation: floatingBubbles1 15s infinite;

}

footer .right-pp {
    position: absolute;
    right: -150px;
    bottom: -30px;
    width: 25%;
    animation: floatingBubbles2 15s infinite;
}

@keyframes floatingBubbles1 {
    0% {
        transform: translate(50px, 30px);
        opacity: 0.8;
    }

    25% {
        transform: translate(180px, -50px) rotate(30deg);
        opacity: 0.3;
    }

    50% {
        transform: translate(50px, -50px);
        opacity: 0.5;

    }

    75% {
        transform: translate(80px, -50px) rotate(-30deg);
        opacity: 0.3;
    }

    100% {
        transform: translate(50px, 30px);
        opacity: 0.8;
    }

}



@keyframes floatingBubbles2 {
    0% {
        transform: translate(80px, 30px)rotate(-180deg);
        opacity: 0.8;
    }

    25% {
        transform: translate(100px, -30px)rotate(-160deg);
        opacity: 0.3;
    }

    50% {
        transform: translate(50px, 30px)rotate(-120deg);
        opacity: 0.5;

    }

    75% {
        transform: translate(80px, -30px)rotate(-160deg);
        opacity: 0.3;
    }

    100% {
        transform: translate(80px, 30px)rotate(-180deg);
        opacity: 0.8;
    }

}

footer #footer-box {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 280px;
}

footer p {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

footer {
    line-height: 1.5;
    letter-spacing: .25rem;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

footer p .maptext {
    margin-left: 50px;
    color: var(--white);
    text-decoration:underline;
}

footer p img {
    margin-right: 20px;
}

footer #footer-contant,
footer #footer-connect {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 30px;
}

/* __________________________________________________________________________________ */